#container
{
width:1000px;
margin-right:10px;
}
#rightnav
{
height:600px;
width:200px;
float:right;
font-color:red;
background-color:black;
font-size:20px;
}
#body
{
height:600px;
width:800px;
font-weight:italics; 
text-transform:capitalize;
text-align:center;
font-size:40px;
background-color:black;
}
#footer
{
height:150px;
width:1000px;
clear:both;
font-color:pink;
background-color:black;
}

 

