#container
{
width:1500px;
margin-right:10px;
}
#header
{
height:200px;
width:1000px;
}
#rightnav
{
height:3075px;
width:200px;
background-color:black;
float:right;
font-color:green;
font-size:25px;
}
#body
{
height:3075px;
width:1300px;
font-weight:bold; 
text-transform:capitalize;
text-align:center;
font-size:40px;
background-color:black;
}
#footer
{
height:200px;
width:1000px;
background-color:black;
clear:both;
}

 

